<!DOCTYPE html>
<html>
<head>
    <title> Acccount Register </title>
<style type="text/css">
    body {
        background-color: lightblue;
    }
</style>

<body>
    <form>
        <h1> Acccount Register <br></h1> 
        <h3> First Name <br>
            <div> <input type="text"> </div> 
        </h3> 

        <h3> Last Name <br>
            <div> <input type="text"> </div>  
        </h3>

        <h3> Email <br>
            <div> <input type="text"> </div>       
        </h3> 

        <h3> Password <br>
            <div> <input type="text"></div>  
        </h3>

        <button id="submit" method="POST"> Submit </button>
    </form>

</body>
</head>
</html>