<!DOCTYPE html>
<html lang="en">
<head>
  <title>  GoRestaurant Apps   </title>
  <link rel="stylesheet" href="stylebuildapp.css">


</head>
  
  <body> 
  <h1>    <div class="h1">  GoRestaurant </div></h1>
  <h1>  <div class="h2">MENU SELECTION</div> <br> 

  </h1>
  
  <button id="get-button"> <div class="button">  MENU_GET</div> </button> 
  <form id="create-form">
      <input type="text" id="idcreate-input">
      <label > id</label>
      <input type="text" id="textcreate-input">
      <label >name </label>
      <input type="text" id="price-input">
      <label >price </label>     
      <input type="text" id="kind-input">
      <label >kind </label>  
      <button><div class="button1"> MENU_POST </div></button>
  </form>

 

  <hr>
  <table>
      <thead> 
          <tr>            
              <th>  ID  </th>
              <th>  name </th>
              <th>  price </th>
              <th>  Kind </th>
              <th>  Button </th>


          </tr>


      </thead>

<tbody>   </tbody>

<button  id="apps-button"><div class="button2">   APP_MENU </div></button>

  </table>


  <script src="./javascripts/jquery-3.6.0.min.js" >  </script>

  <script src="./javascripts/scripts.js">   </script>
 

  </body>


  


</html>