<!DOCTYPE html>
<html>


<head>

<title>            GO_RESTAURANT         </title>
<body>
    <h1> Sign In <br> </h1>
    <h2> Email Addrese Or User Name <br>
    <div> 
        
        
        <input type="text" placeholder="Username"></div>  
       
    </h2>

    <h3> Password <br>
    <div>


        <input type="text" placeholder="Password"></div>  

    </div>
    <input type="Submit" value="Login"

    </h3>



</body>




</head>









</html>