<!DOCTYPE html>
<html lang="en">
<head>
<title>            GO_RESTAURANT         </title>
<meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
<body><div class="main"> 
  <h1>LOG IN </h1>
  <% if (messages) { %>
    <p><%= messages.error %></p>
    <% } %>
    <form action="/login" method="POST">
    <h2 style="color:rgb(49, 48, 48); font-size: 15px;font-style: normal;">User Name(Gmail) <br></h2>
      <input type="email" name="email" placeholder="Gmail"/>
    
    <h3 style="color:rgb(49, 48, 48); font-size: 15px;font-style: normal;"> Password <br> </h3>
        <input type="password" name="password" placeholder="* * * * * *" />
  
    <button>SIGN IN</button> <br>
  </form>
  <h4 style="color:rgb(49, 48, 48); font-size: 15px;font-style: normal; margin-top: 20px;"> Don't Have An Account?
    <a href="/register"> register</a> <br>
  </h4> 
    <script src="jquery-3.6.0.min.js"  >  </script>
    <script src="scripts.js">     </script>
  </div>
</body>
</head>
</html>


