<!DOCTYPE html>
<html lang="en">
  <head>
    <title>          Acccount Register        </title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="main">
      <h1>SIGN UP</h1>
      <% if (messages) { %>
      <p><%= messages.error %></p>
      <% } %>
      <form action="/register" method="POST">
        <h5 style="color:rgb(49, 48, 48); font-size: 15px;font-style: normal;">Nick Name <br> </h5>
        <input type="name" name="name" placeholder="My Name" />
        <h2 style="color:rgb(49, 48, 48); font-size: 15px;font-style: normal;">User Name(Gmail) <br> </h2>
        <input type="email" name="email"  placeholder="leodoan@gmail.com"/>
        
        <h3 style="color:rgb(49, 48, 48); font-size: 15px;font-style: normal;"> Password <br> </h3>
        <input type="password" name="password" placeholder="* * * * * *" />
        <button>SIGN UP</button>
      </form>

        <h4 style="color:rgb(17, 17, 17); font-size: 15px;font-style: normal; margin-top: 20px;"> Have An Account Already?
          <a href="/login"> Login</a>
        </h4>
    </div>
  </body>
</html>
